n8n/workflows/06_daily_lesson.json
{
  "name": "06 - Daily Lesson (Scheduler)",
  "nodes": [
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000001",
      "name": "Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000002",
      "name": "Get All Active Users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, first_name, level FROM users WHERE last_seen_at > NOW() - INTERVAL '7 days';"
      },
      "credentials": {
        "postgres": { "id": "2", "name": "PostgreSQL" }
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000003",
      "name": "Split Users",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000004",
      "name": "Get Due Words",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT word, translation, context, ease_factor, interval\nFROM vocabulary\nWHERE user_id = {{ $json.id }}\n  AND next_review <= NOW()\nORDER BY next_review ASC\nLIMIT 5;"
      },
      "credentials": {
        "postgres": { "id": "2", "name": "PostgreSQL" }
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000005",
      "name": "Has Due Words?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Generate Daily Lesson",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1340, 200],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{ $env.ANTHROPIC_API_KEY }}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 500, system: 'You are an English teacher creating a personalized daily review. Create a short engaging quiz for the student\\'s vocabulary review. Format as numbered questions.', messages: [{ role: 'user', content: 'Create a daily vocabulary review quiz for these words: ' + $json.map(w => w.word).join(', ') + '. Student level: ' + $('Get All Active Users').item.json.level + '.' }] }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000007",
      "name": "Send Daily Lesson",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1560, 200],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('Get All Active Users').item.json.id }}",
        "text": "=🌅 *Good morning, {{ $('Get All Active Users').item.json.first_name }}!*\n\nTime for your daily English practice! You have {{ $('Get Due Words').item.json.length }} words to review today.\n\n{{ $json.content[0].text }}\n\n_Send /quiz to start the quiz, or just keep chatting!_",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": { "id": "1", "name": "Telegram Bot" }
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000008",
      "name": "Update Streak",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1560, 360],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET streak = streak + 1 WHERE id = {{ $('Get All Active Users').item.json.id }} AND DATE(last_seen_at) = CURRENT_DATE - INTERVAL '1 day';"
      },
      "credentials": {
        "postgres": { "id": "2", "name": "PostgreSQL" }
      }
    }
  ],
  "connections": {
    "Daily Schedule": {
      "main": [[{ "node": "Get All Active Users", "type": "main", "index": 0 }]]
    },
    "Get All Active Users": {
      "main": [[{ "node": "Split Users", "type": "main", "index": 0 }]]
    },
    "Split Users": {
      "main": [[{ "node": "Get Due Words", "type": "main", "index": 0 }]]
    },
    "Get Due Words": {
      "main": [[{ "node": "Has Due Words?", "type": "main", "index": 0 }]]
    },
    "Has Due Words?": {
      "main": [
        [{ "node": "Generate Daily Lesson", "type": "main", "index": 0 }],
        []
      ]
    },
    "Generate Daily Lesson": {
      "main": [[
        { "node": "Send Daily Lesson", "type": "main", "index": 0 },
        { "node": "Update Streak", "type": "main", "index": 0 }
      ]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "notes": "Daily lesson scheduler: runs at 9am UTC, sends personalized vocabulary review to active users."
  }
}
